<section class="about">
    <div class="container">
        <div class="about__header">
            <h2 class="about__header--title">Sobre</h2>
        </div>
        <div class="about__description">
            <p class="about__description--paragraph">Olá, meu nome é Felipe Costa,
                tenho 29
                anos, casado e sou
                Desenvolvedor Front-End.</p>

            <p class="about__description--paragraph">Possuo conhecimento avançado em
                programação de interface,
                arquitetura da informação, usabilidade,
                acessibilidade, SEO e W3C.</p>


            <p class="about__description--paragraph">Comunicativo, organizado, inovador,
                planejador, bom relacionamento
                interpessoal, agilidade, versatilidade,
                flexibilidade, coragem, comprometimento, pontualidade, criatividade, detalhista e proativo são algumas
                das habilidades pessoais.</p>


            <p class="about__description--paragraph">Atualmente trabalho na empresa <a
                    href="https://www.validcertificadora.com.br/" target="_blank">Valid</a>
                período integral no cargo de Desenvolvedor Front End Angular (Pleno)</p>


            <p class="about__description--paragraph">Sou apaixonado pelo que faço e o que
                me deixa mais feliz ainda é a
                facilidade em aprender cada dia mais.
                Em meu workflow, em resumo costumo construir projeto em Angular 2+ utilizando HTML, CSS (Sass),
                JavaScript (TypeScript) e Git.</p>


            <p class="about__description--paragraph">Ficou interessado? Entre em contato
                comigo.</p>
            
            <a href="https://github.com/felipealvesc" class="about__description--paragraph">linkdIn</a>
            <a href="https://github.com/felipealvesc/pokedex-felipe" class="about__description--paragraph">
                Repositório do teste</a>
            <a class="about__description--paragraph" [routerLink]="['/']"><h3>Voltar</h3></a>
            

            <div class="button">
                <a href="https://docs.google.com/document/d/1PlkzjloPRbLJwbS28x0rYNqzgxY-Fxhp/view" target="_blank"
                    class="button__btn">Baixar Currículo</a>
            </div>



            <!-- <div> -->

        </div>
    </div>
</section>